
* {

  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {

  background: purple;
  color: white;

  width: 100vw;
  height: 100vh;
}

div.container {

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  & > * {

    margin: auto;
  }
}

img {

  width: 300px;
  height: auto;
}
